{% extends "main/index.html" %}

{% block content %}
  <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.docfile.label_tag }}</p>
    <p>
      <script type="text/javascript">
        function upperCase(x)
        {
          var y=document.getElementById(x).value
          document.getElementById(x).value=y.toUpperCase()
        }
      </script>
      <p>
        Title: {{ form.title }} {{ form.title.errors }}
      </p>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <span class="btn btn-file btn-primary">
          <span class="fileupload-new">Select file</span>
          <span class="fileupload-exists">Change</span>
          {{ form.docfile }} 
        </span>
        <span class="fileupload-preview"></span>
        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
        {{ form.docfile.errors }}
      </div>
    </p>
    <p>
      <span class="btn btn-file btn-primary">
        <input type="submit" value="Upload" />Upload
      </span>
    </p>
  </form>
{% endblock %}
